{% extends "base_generic.html" %}

{% block title %}
<title>成績查詢</title>
{% endblock %}

{% block content %}
    <style>
        nav ul li a {
            text-decoration: none;
            position: relative;
            color: #999999;
            font-weight: 600;
        }
        
        nav ul li a::after {
            content: "";
            position: absolute;
            bottom: -5px;
            left: 0;
            width: 0;
            height: 0.125em;
            background-color: #cd0000;
            transition: width 0.5s;
        }

        nav ul li a:hover::after {
            width: 100%;
        }

        a.logout-link:hover {
            font-weight: bold;
            color: #cd0000;
        }


        .btn-custom1 {
            font-size: 16px;
            margin-bottom: 20px;
            border-radius: 25px;
            width: 100px;
            color: #cd0000;
            border: 1px solid #cd0000;
            background-color: #fff;
            transition: background-color 0.5s;
        }
    
        .btn-custom1:hover {
            color: #fff;
            background-color: #cd0000;
            border: 1px solid #cd0000;
        }

        table{
            border-collapse: collapse;
        }

        .table tr {
            border: 1px solid #70707040;
        }

        .table thead th {
            height: 50px;
            background-color: #707070;
            color: #fff;
            font-size: 18px;
            font-weight: 400;
            padding: 10px;
        }

        .table tbody td {
            text-align: center;
            vertical-align: middle;
            height: 45px;
            font-size: 16px;
            font-weight: 200;
        }

        .table tbody td a{
            color: #000;
            font-weight: 800;
            transition: color 0.5s;
        }

        .table tbody td a:hover{
            color: #cd0000;
            font-weight: 800;
        }

        .paginator a {
            font-size: 18px;
            color: #707070;
            padding: 5px;
        }

        .paginator a:hover {
            font-size: 18px;
            color: #000000;
            padding: 5px;
        }
    </style>
</head>

<body>

    <main id="main">
        {% if request.user.is_staff %}
        <nav id="header" class="flex-shrink-0 p-3" style="width: 280px; height: 100%;">
            <div style="display: flex; align-items: center; justify-content: center;">
                <a href="/home/" class="logo">Training Center</a>
            </div>
            <hr style="color: #909090;">
            <ul class="list-unstyled">
                <li>
                    <a class="nav-link scrollto" href="/home/">首頁</a>
                </li>
                <li>
                    <a class="nav-link scrollto" href="/scores/course-list/">課程管理</a>
                </li>
                <li>
                    <a class="nav-link scrollto" href="/scores/score_find/">成績查詢</a>
                </li>
                <li>
                    <a class="nav-link scrollto" href="/admin/auth/user/">帳號管理</a>
                </li>
                <li>
                    <a class="nav-link scrollto" href="/question/question_list/">問卷系統</a>
                </li>
            </ul>
            <div style="position: fixed; bottom: 0;">
                <div style="width: 248px;">
                    <hr style="color: #909090;">
                </div>
                <div style="display: flex; align-items: center; justify-content: space-between;">
                    {% if request.user.is_authenticated %}
                        <a class="nav-link scrollto fw-bold">{{request.user}}</a>
                    {% endif %}
                    <a class="nav-link scrollto logout-link" href="/welcome/logout/">登出</a>
                </div>
            </div>
        </nav>
        {% else %}
        <nav id="header" class="flex-shrink-0 p-3" style="width: 280px; height: 100%;">
            <div style="display: flex; align-items: center; justify-content: center;">
                <a href="/home/" class="logo">Training Center</a>
            </div>
            <hr style="color: #909090;">
            <ul class="list-unstyled">
                <li>
                    <a class="nav-link scrollto" href="/home/">首頁</a>
                </li>
                <li>
                    <a class="nav-link scrollto" href="">成績查詢</a>
                </li>
                <li>
                    <a class="nav-link scrollto" href="/question/question_list/">問卷作答</a>
                </li>
                <li>
                    <a class="nav-link scrollto" href="/home/student-information/">修改基本資料</a>
                </li>
            </ul>
            <div style="position: fixed; bottom: 0;">
                <div style="width: 248px;">
                    <hr style="color: #909090;">
                </div>
                <div style="display: flex; align-items: center; justify-content: space-between;">
                    {% if request.user.is_authenticated %}
                        <a class="nav-link scrollto fw-bold">{{request.user}}</a>
                    {% endif %}
                    <a class="nav-link scrollto logout-link" href="/welcome/logout/">登出</a>
                </div>
            </div>
        </nav>
        {% endif %}

        <section id="home" class="text-center" style="display: flex; justify-content: center; align-items: center; width: 100hv; height: 100hv; margin-left: 280px;">
                <div class="container align-items-center" style="flex-direction: column; max-width: 80%; margin-top: 30px; margin-bottom: 30px;" data-aos="fade-up" data-aos-duration="1000" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-delay="400">
                    <div id="1" class="tabcontent justify-content-center text-center">
                        <div class="box-info full ng-hide" ng-show="orderItems.length &amp;&amp; !state.loadingItems">
                            {% if request.user.is_staff %}
                            <h3 class="mb-4 fw-bold">成績查詢</h3>
                            <div class="row pt-3">
                                <div class="col-md-6 text-start">
                                    <p style="font-size: 18px;">目前課程為：</p>
                                    <p style="font-size: 18px; font-weight: 700;">{{ number }} - {{ course_name }}</p>
                                </div>
                                <div class="col-md-6 text-end">
                                    <a href="{% url 'scores:analysis_chart' %}?coursenumber={{ number }}"><button type="button" class="btn btn-custom1">成績分佈</button></a>
                                    <a href="{% url 'scores:training_result' %}?coursenumber={{ number }}"><button type="button" class="btn btn-custom1" style="margin-left: 10px;">錯誤分析</button></a>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table data-sortable="" class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>學員名稱</th>
                                            <th>上課日期</th>
                                            <th>成績</th>
                                            <th>訓練結果</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    {% if classmates %}
                                    {% for course in classmates %}
                                    <tbody>
                                        <tr onclick="" style="cursor: pointer;">
                                            <td valign="middle"><a href="{{number}}/{{course.training_id}}">{{course.name}}</a></td>
                                            <td valign="middle">{{course.classdate}}</td>
                                            <td valign="middle">{{course.score}}</td>
                                            <td valign="middle">
                                                {% if course.score == 0 %}
                                                    中離
                                                {% elif course.score >= 60 %}
                                                    成功
                                                {% else %}
                                                    失敗
                                                {% endif %}
                                            </td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                    {% endfor %}
                                    {% else %}
                                    <tbody>
                                        <tr>
                                            <td colspan="6">列表尚無任何資料</td>
                                        </tr>
                                    </tbody>
                                    {% endif %}
                                </table>
                            </div>
                            {% else %}
                            <div class="table-responsive">
                                <table data-sortable="" class="table table-hover">
                                    <h3 class="mb-4 fw-bold">成績查詢</h3>
                                    <thead>
                                        <tr>
                                            <th>課程名稱</th>
                                            <th>上課日期</th>
                                            <th>成績</th>
                                            <th>是否通過</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    {% if classmates %}
                                    {% for course in classmates %}
                                    <tbody>
                                        <tr onclick="" style="cursor: pointer;">
                                            <td valign="middle"><a href="/scores/score_find/{{course.classnumber.coursenumber}}/{{course.training_id}}">{{course.classnumber}}</a></td>
                                            <td valign="middle">{{course.classdate}}</td>
                                            <td valign="middle">{{course.score}}</td>
                                            <td valign="middle">
                                                {% if course.score == 0 %}
                                                    中離
                                                {% elif course.score >= 60 %}
                                                    成功
                                                {% else %}
                                                    失敗
                                                {% endif %}
                                            </td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                    {% endfor %}
                                    {% else %}
                                    <tbody>
                                        <tr>
                                            <td colspan="6">列表尚無任何資料</td>
                                        </tr>
                                    </tbody>
                                    {% endif %}
                                </table>
                            </div>
                            {% endif %}
                            <div class="paginator">
                                {% if classmates.has_previous %}
                                <a href="?page={{ classmates.previous_page_number }}"><i class="fa-solid fa-chevron-left"></i></a>
                                {% endif %}
            
                                {% for page_number in classmates.paginator.page_range %}
                                    {% if page_number == classmates.number %}
                                    <a>{{ page_number }}</a>
                                    {% else %}
                                    <a href="?page={{ page_number }}">{{ page_number }}</a>
                                    {% endif %}
                                {% endfor %}
            
                                {% if classmates.has_next %}
                                <a href="?page={{ classmates.next_page_number }}"><i class="fa-solid fa-chevron-right"></i></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
        </section>
        
    </main>
{% endblock %}